.clickable-book:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 16px rgba(0,0,0,0.2) !important;
  }
  
  /* For better mobile responsiveness */
  @media (max-width: 768px) {
    .journal-cover {
      width: 90% !important;
      height: auto !important;
      min-height: 500px;
      margin-left: auto !important;
      margin-right: auto !important;
    }
  }